.u-border {
  width: 100%;
  height: 1px;
  margin-top: var(--_layout---grid--gap-main);
  margin-right: 0px;
  margin-bottom: var(--_layout---grid--gap-main);
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  border-top-style: none;
  border-top-width: 1px;
  border-top-color: black;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: black;
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: black;

  background-color: var(--colors--border);

  box-shadow: none;
}

.u-border:where(.w-variant-de012ed6-68b0-ab2a-8394-658c9285fd3e) {
  margin-top: var(--_layout---grid--gap-sm);
  margin-bottom: var(--_layout---grid--gap-sm);
}

.u-border:where(.w-variant-01d73485-2abe-e5e2-5fe7-5ea51439087f) {
  margin-top: var(--_layout---grid--gap-md);
  margin-bottom: var(--_layout---grid--gap-md);
}

.u-border:where(.w-variant-9f72d7b7-da9f-6e9f-4454-a075364a66cd) {
  margin-top: var(--_components---section--padding);
  margin-bottom: var(--_components---section--padding);
}

.u-border:where(.w-variant-2f580e02-ee22-1381-8236-8dfeeb77485b) {
  margin-top: 0px;
  margin-bottom: 0px;
}

.u-d-none {
  display: none;
}

.u-mb-md {
  margin-bottom: var(--_layout---spacing--margin-md);
}

.u-mt-md {
  margin-top: var(--_layout---spacing--margin-md);
}