.card {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;

  border: 1px solid var(--colors--border);
  border-radius: var(--_components---card--border-radius);

  transition: background-color 300ms cubic-bezier(.165, .84, .44, 1);
}

.card:hover:where(.w-variant-7a49f1e4-82e5-f9b4-164d-70415eb8af86) {
  background-color: var(--colors--border);
}

.u-mode-invert {
  background-color: var(--colors--background);
  color: var(--colors--text);
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-bf6faaa8-2bf5-9c53-b568-f9d802b7c009;
}

.u-mt-sm {
  margin-top: var(--_layout---spacing--margin-sm);
}

.u-mb-sm {
  margin-bottom: var(--_layout---spacing--margin-sm);
}

.slot {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.slot.cc-section {
  position: static;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.slot.cc-column {
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.slot.cc-card {
  align-items: stretch;
  flex: 1;
}

.slot.cc-card-body {
  height: 100%;
}

.slot.cc-list {
  justify-content: flex-start;
  align-items: stretch;
  grid-column-gap: var(--_layout---spacing--margin-sm);
  grid-row-gap: var(--_layout---spacing--margin-sm);
}

.u-link-cover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;
}

.u-d-none {
  display: none;
}

.u-sr-only {
  position: absolute;

  overflow: hidden;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  padding: 0px;

  border: 0px solid transparent;

  white-space: nowrap;
}