.row-component {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  grid-row-gap: var(--_layout---grid--gap-main);
  margin-left: calc(var(--_layout---grid--gap-main) / 2 * -1);
  margin-right: calc(var(--_layout---grid--gap-main) / 2 * -1);
}

.row:where(.w-variant-478364d0-b9a1-9a8d-3561-fc2372ac7598) {
  justify-content: center;
}

.row:where(.w-variant-5d43bd90-6372-654d-731d-541adec41264) {
  justify-content: space-between;
}

.row:where(.w-variant-74857e04-b06e-e825-b9a7-b1c429c16d7e) {
  align-items: center;
}

.row:where(.w-variant-83b17255-59f7-790b-da69-1e44aab5c586) {
  justify-content: center;
  align-items: center;
}

.row:where(.w-variant-d8cdc2fb-aedc-5d05-72c6-68fd71715228) {
  justify-content: space-between;
  align-items: center;
}

.row:where(.w-variant-b304d51f-8499-8e80-0632-b7e8accf301a) {
  justify-content: flex-end;
  align-items: stretch;
}

.row:where(.w-variant-84c0d3ac-e67c-aa17-8572-49b2e539ff14) {
  justify-content: flex-end;
  align-items: center;
}

.row:where(.w-variant-3d1b8c14-9e99-f9f9-47c1-87e724473bc0) {
  justify-content: flex-start;
  align-items: flex-end;
}

.row:where(.w-variant-30bc1b76-8350-656c-94d9-a238454cac88) {
  justify-content: flex-end;
  align-items: flex-end;
}

.row:where(.w-variant-17c26d76-ad6d-56cb-bed9-f93779ad31e8) {
  justify-content: center;
  align-items: flex-end;
}

.row:where(.w-variant-c4e0622f-418c-65e4-f062-f3424e8d2467) {
  justify-content: space-between;
  align-items: flex-end;
}

.row.row-justify-end {
  justify-content: flex-end;
}

.row.row-justify-between {
  justify-content: space-between;
}

.row.row-align-end {
  align-items: flex-end;
}

.u-h-100 {
  height: 100%;
}

.row.row-justify-center {
  justify-content: center;
}

.u-mb-0 {
  margin-bottom: 0px;
}

@media screen and (max-width: 991px) {
  .u-mb-0 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .u-mb-0 {
    margin-bottom: 0px;
  }
}

.row.row-align-center {
  align-items: center;
}

.row.row-justify-around {
  justify-content: space-around;
}

.row.row-gap-0 {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  grid-row-gap: var(--_size---0rem\<deleted\|variable-76ad6b20-ba74-e8a2-27f3-884949ddcd06\>);
}

.row.row-gap-md {
  grid-row-gap: var(--_layout---grid--gap-md);
  margin-left: calc(var(--_layout---grid--gap-md) / 2 * -1);
  margin-right: calc(var(--_layout---grid--gap-md) / 2 * -1);
}

.row.row-gap-sm {
  grid-row-gap: var(--_layout---grid--gap-sm);
  margin-left: calc(var(--_layout---grid--gap-sm) / 2 * -1);
  margin-right: calc(var(--_layout---grid--gap-sm) / 2 * -1);
}

.u-mb-md {
  margin-bottom: var(--_layout---spacing--margin-md);
}

.row.row-gap-button {
  grid-row-gap: var(--_layout---grid--gap-button);
  margin-left: calc(var(--_layout---grid--gap-md) / 2 * -1);
  margin-right: calc(var(--_layout---grid--gap-md) / 2 * -1);
}