.col {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding-left: calc(var(--_layout---grid--gap-main) / 2);
  padding-right: calc(var(--_layout---grid--gap-main) / 2);
}

.col:where(.w-variant-28e74f51-d7e2-a771-32c6-dda728ccfa16) {
  max-width: 16.666666666666664%;
  flex: 25%;
}

.col:where(.w-variant-2a872dd3-bab5-8141-0ad7-251b924e42e6) {
  max-width: 33.333333333333336%;
  flex-grow: 1;
  flex-basis: 33.333333333333336%;
}

.col:where(.w-variant-52b169ce-f9c2-1128-cb8d-e5acee9f9159) {
  max-width: 50%;
  flex-grow: 1;
  flex-basis: 50%;
}

.col:where(.w-variant-f8adaa2d-7dff-f490-b6dd-19f48419d59b) {
  max-width: 75%;
  flex: 75%;
}

.col:where(.w-variant-1809bbfe-93c5-9995-a76f-dc2c5b37bfe3) {
  max-width: 41.66666666666667%;
  flex: 41.66666666666667%;
}

.col:where(.w-variant-d2d2a23d-14a1-7f5e-e8ec-4a285e5f4a7b) {
  max-width: 58.333333333333336%;
  flex: 58.333333333333336%;
}

.col:where(.w-variant-c40c2b54-bd7f-c6df-c4ad-1c9f757a89d2) {
  max-width: 66.66666666666666%;
  flex-basis: 66.66666666666666%;
}

.col:where(.w-variant-63569d8e-a8ac-61e1-0666-21eb6073c541) {
  flex: 0 auto;
}

.col:where(.w-variant-95c67bf8-407f-143d-c1b2-46906c26a2f4) {
  max-width: 83.33333333333334%;
  flex: 83.33333333333334%;
}

.col:where(.w-variant-6f373193-993b-d370-7068-a233ac19befc) {
  max-width: 91.66666666666666%;
  flex: 91.66666666666666%;
}

.col:where(.w-variant-c2470e99-215a-e78c-3ec0-c579f938e15e) {
  max-width: 100%;
  flex: 100%;
}

.col:where(.w-variant-37882ba8-3b46-b8b4-f297-a33f19abd3db) {
  max-width: 25%;
  flex: 25%;
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-28e74f51-d7e2-a771-32c6-dda728ccfa16) {
    max-width: 33.333333333333336%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-2a872dd3-bab5-8141-0ad7-251b924e42e6) {
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-f8adaa2d-7dff-f490-b6dd-19f48419d59b) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-1809bbfe-93c5-9995-a76f-dc2c5b37bfe3) {
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-d2d2a23d-14a1-7f5e-e8ec-4a285e5f4a7b) {
    max-width: 100%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-c40c2b54-bd7f-c6df-c4ad-1c9f757a89d2) {
    max-width: 100%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-95c67bf8-407f-143d-c1b2-46906c26a2f4) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-6f373193-993b-d370-7068-a233ac19befc) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-37882ba8-3b46-b8b4-f297-a33f19abd3db) {
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-2a872dd3-bab5-8141-0ad7-251b924e42e6) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-52b169ce-f9c2-1128-cb8d-e5acee9f9159) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-1809bbfe-93c5-9995-a76f-dc2c5b37bfe3) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-d2d2a23d-14a1-7f5e-e8ec-4a285e5f4a7b) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-c40c2b54-bd7f-c6df-c4ad-1c9f757a89d2) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-28e74f51-d7e2-a771-32c6-dda728ccfa16) {
    max-width: 50%;
  }
}

@media screen and (max-width: 479px) {
  .col:where(.w-variant-28e74f51-d7e2-a771-32c6-dda728ccfa16) {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 479px) {
  .col:where(.w-variant-63569d8e-a8ac-61e1-0666-21eb6073c541) {
    flex: 0 auto;
  }
}

@media screen and (max-width: 479px) {
  .col:where(.w-variant-37882ba8-3b46-b8b4-f297-a33f19abd3db) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

.col.col-lg-3 {
  max-width: 25%;
  flex-basis: 25%;
}

@media screen and (max-width: 767px) {
  .col.col-sm-12 {
    max-width: 100%;
    flex-basis: 100%;
  }
}

.col.col-lg-6 {
  max-width: 50%;
  flex-basis: 50%;
}

@media screen and (max-width: 479px) {
  .col.col-xs-11 {
    max-width: 91.666667%;
    flex-basis: 91.67%;
  }
}

@media screen and (max-width: 991px) {
  .col.col-md-9 {
    max-width: 75%;
    flex-basis: 75%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-9 {
    max-width: 75%;
    flex-basis: 75%;
  }
}

.col.col-lg-7 {
  max-width: 58.333333%;
  flex-basis: 58.33%;
}

.col.col-lg-2 {
  max-width: 16.666667%;
  flex-basis: 16.67%;
}

@media screen and (max-width: 991px) {
  .col.col-md-2 {
    max-width: 16.666667%;
    flex-basis: 16.67%;
  }
}

@media screen and (max-width: 991px) {
  .col.col-md-6 {
    max-width: 50%;
    flex-basis: 50%;
  }
}

.col.col-lg-5 {
  max-width: 41.666667%;
  flex-basis: 41.67%;
}

@media screen and (max-width: 479px) {
  .col.col-xs-6 {
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col.col-md-5 {
    max-width: 41.666667%;
    flex-basis: 41.67%;
  }
}

.col.col-lg-9 {
  max-width: 75%;
  flex-basis: 75%;
}

@media screen and (max-width: 767px) {
  .col.col-sm-10 {
    max-width: 83.333333%;
    flex-basis: 83.33%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-7 {
    max-width: 58.333333%;
    flex-basis: 58.33%;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-10 {
    max-width: 83.333333%;
    flex-basis: 83.33%;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-4 {
    max-width: 33.333333%;
    flex-basis: 33.33%;
  }
}

@media screen and (max-width: 991px) {
  .col.col-md-4 {
    max-width: 33.333333%;
    flex-basis: 33.33%;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-3 {
    max-width: 25%;
    flex-basis: 25%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-5 {
    max-width: 41.666667%;
    flex-basis: 41.67%;
  }
}

@media screen and (max-width: 991px) {
  .col.col-md-11 {
    max-width: 91.666667%;
    flex-basis: 91.67%;
  }
}

@media screen and (max-width: 991px) {
  .col.col-md-3 {
    max-width: 25%;
    flex-basis: 25%;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-7 {
    max-width: 58.333333%;
    flex-basis: 58.33%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-6 {
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-3 {
    max-width: 25%;
    flex-basis: 25%;
  }
}

@media screen and (max-width: 991px) {
  .col.col-md-8 {
    max-width: 66.666667%;
    flex-basis: 66.67%;
  }
}

.col.col-lg-12 {
  max-width: 100%;
  flex-basis: 100%;
}

@media screen and (max-width: 991px) {
  .col.col-md-7 {
    max-width: 58.333333%;
    flex-basis: 58.33%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-4 {
    max-width: 33.333333%;
    flex-basis: 33.33%;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-8 {
    max-width: 66.666667%;
    flex-basis: 66.67%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-1 {
    max-width: 8.333333%;
    flex-basis: 8.33%;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-9 {
    max-width: 75%;
    flex-basis: 75%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-8 {
    max-width: 66.6666667%;
    flex-basis: 66.67%;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-2 {
    max-width: 16.666667%;
    flex-basis: 16.67%;
  }
}

.col.col-lg-11 {
  max-width: 91.666667%;
  flex-basis: 91.67%;
}

@media screen and (max-width: 479px) {
  .col.col-xs-12 {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-11 {
    max-width: 91.666667%;
    flex-basis: 91.67%;
  }
}

.col.col-lg-8 {
  max-width: 66.666667%;
  flex-basis: 66.67%;
}

.col.col-lg-4 {
  max-width: 33.333333%;
  flex-basis: 33.33%;
}

@media screen and (max-width: 991px) {
  .col.col-md-10 {
    max-width: 83.333333%;
    flex-basis: 83.33%;
  }
}

@media screen and (max-width: 991px) {
  .col.col-md-1 {
    max-width: 8.333333%;
    flex-basis: 8.33%;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-5 {
    max-width: 41.666667%;
    flex-basis: 41.67%;
  }
}

.col.col-lg-10 {
  max-width: 83.333333%;
  flex-basis: 83.33%;
}

.u-mb-0 {
  margin-bottom: 0px;
}

@media screen and (max-width: 991px) {
  .u-mb-0 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .u-mb-0 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-1 {
    max-width: 8.333333%;
    flex-basis: 8.33%;
  }
}

@media screen and (max-width: 991px) {
  .col.col-md-12 {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-2 {
    max-width: 16.666667%;
    flex-basis: 16.67%;
  }
}

.col.col-lg-1 {
  max-width: 8.333333%;
  flex-basis: 8.33%;
}

.col.col-shrink {
  flex: 0 auto;
}

.col.col-lg-first {
  order: -1;
}

@media screen and (max-width: 991px) {
  .col.col-md-first {
    order: -1;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-first {
    order: -1;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-first {
    order: -1;
  }
}

.col.col-lg-last {
  order: 1;
}

@media screen and (max-width: 991px) {
  .col.col-md-last {
    order: 1;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-last {
    order: 1;
  }
}

.col.col-lg-offset-1 {
  margin-left: 8.333333%;
}

.col.col-lg-offset-2 {
  margin-left: 16.666666%;
}

.col.col-lg-offset-3 {
  margin-left: 25%;
}

.col.col-lg-offset-4 {
  margin-left: 33.333333333333336%;
}

.col.col-lg-offset-5 {
  margin-left: 41.67%;
}

.col.col-lg-offset-6 {
  margin-left: 50%;
}

@media screen and (max-width: 991px) {
  .col.col-md-offset-0 {
    margin-left: 0%;
  }
}

@media screen and (max-width: 991px) {
  .col.col-md-offset-1 {
    margin-left: 8.333333%;
  }
}

@media screen and (max-width: 991px) {
  .col.col-md-offset-2 {
    margin-left: 16.666666%;
  }
}

@media screen and (max-width: 991px) {
  .col.col-md-offset-3 {
    margin-left: 25%;
  }
}

@media screen and (max-width: 991px) {
  .col.col-md-offset-4 {
    margin-left: 33.333333333333336%;
  }
}

@media screen and (max-width: 991px) {
  .col.col-md-offset-5 {
    margin-left: 41.67%;
  }
}

@media screen and (max-width: 991px) {
  .col.col-md-offset-6 {
    margin-left: 50%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-offset-1 {
    margin-left: 8.333333%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-offset-2 {
    margin-left: 16.666666%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-offset-3 {
    margin-left: 25%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-offset-4 {
    margin-left: 33.333333333333336%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-offset-5 {
    margin-left: 41.67%;
  }
}

@media screen and (max-width: 767px) {
  .col.col-sm-offset-6 {
    margin-left: 50%;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-offset-0 {
    margin-left: 0%;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-offset-1 {
    margin-left: 8.333333%;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-offset-2 {
    margin-left: 16.666666%;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-offset-3 {
    margin-left: 25%;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-offset-4 {
    margin-left: 33.333333333333336%;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-offset-5 {
    margin-left: 41.67%;
  }
}

@media screen and (max-width: 479px) {
  .col.col-xs-offset-6 {
    margin-left: 50%;
  }
}

.slot {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.slot.cc-section {
  position: static;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.slot.cc-column {
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.slot.cc-card {
  align-items: stretch;
  flex: 1;
}

.slot.cc-card-body {
  height: 100%;
}

.slot.cc-list {
  justify-content: flex-start;
  align-items: stretch;
  grid-column-gap: var(--_layout---spacing--margin-sm);
  grid-row-gap: var(--_layout---spacing--margin-sm);
}