.img-component {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
}

.img-component:where(.w-variant-b5e7a2df-0aae-a75d-3cfa-d5f2e50ac839) {
  aspect-ratio: 16/9;
}

.img-component:where(.w-variant-c7b9829e-5860-6efa-0d93-1aa6a99a637f) {
  aspect-ratio: 3/4;
}

.img-component:where(.w-variant-1ead5ba6-2a8f-9163-58f6-93b05efab34b) {
  aspect-ratio: 9/16;
}

.img-component:where(.w-variant-9fbd509f-cdc1-3164-90ff-53a572e70fad) {
  aspect-ratio: 1/1;
}

.img-component:where(.w-variant-0375267a-29ec-433a-03b2-8f111c99a60b) {
  aspect-ratio: auto;
}

.img-component:where(.w-variant-bb15dbc4-816d-ba55-5a68-046b1d0e5917) {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;

  height: 100%;
  aspect-ratio: auto;
}

.img-component_bg-overlay {
  display: none;
}

.img-component_bg-overlay:where(.w-variant-bb15dbc4-816d-ba55-5a68-046b1d0e5917) {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: block;
  width: 100%;
  height: 100%;

  background-color: color-mix( in hsl, var(--_color---neutral--black) 50%, transparent 50%
  );
}