.slot {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.slot.cc-section {
  position: static;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.slot.cc-column {
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.slot.cc-card {
  align-items: stretch;
  flex: 1;
}

.slot.cc-card-body {
  height: 100%;
}

.slot.cc-list {
  justify-content: flex-start;
  align-items: stretch;
  grid-column-gap: var(--_layout---spacing--margin-sm);
  grid-row-gap: var(--_layout---spacing--margin-sm);
}