.nav-banner {
  display: block;
  padding-top: var(--_size---0-75rem\<deleted\|variable-51df6ead-a71c-263d-332f-348c569f6d5f\>);
  padding-bottom: var(--_size---0-75rem\<deleted\|variable-51df6ead-a71c-263d-332f-348c569f6d5f\>);

  background-color: var(--colors--primary-accent);

  box-shadow: inset 0 0 0 100px transparent;

  transition: box-shadow 300ms cubic-bezier(.165, .84, .44, 1);

  text-decoration: none;
}

.nav-banner:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.15);
}

.nav-banner:focus-visible {
  outline-color: var(--colors--text);
  outline-offset: -2px;
}

.container {
  display: block;
  width: 88%;
  max-width: var(--_components---container--max-width);
  margin-right: auto;
  margin-left: auto;
}

.container.cc-nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media screen and (max-width: 479px) {
  .container.cc-nav {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.u-text-center {
  text-align: center;
}

.u-h-100 {
  height: 100%;
}

.eyebrow {
  margin-bottom: var(--_typography---eyebrow--bottom-margin);

  font-family: var(--_typography---eyebrow--font);
  font-size: var(--_typography---eyebrow--font-size);
  line-height: var(--_typography---eyebrow--line-height);
  font-weight: var(--_typography---eyebrow--font-weight);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.eyebrow.cc-breadcrumb {
  margin-bottom: 0px;
  text-decoration: none;
}

.eyebrow.cc-breadcrumb:hover {
  text-decoration: underline;
}

.eyebrow.cc-breadcrumb.cc-current-page {
  opacity: 0.5;
  text-decoration: none;
}

.u-mb-0 {
  margin-bottom: 0px;
}

@media screen and (max-width: 991px) {
  .u-mb-0 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .u-mb-0 {
    margin-bottom: 0px;
  }
}