.section {
  position: relative;
  padding-top: var(--_components---section--padding);
  padding-bottom: var(--_components---section--padding);
}

.section:where(.w-variant-ffdae436-6d76-12b6-39d6-0e4201c47aad) {
  background-color: var(--colors--text);
  color: var(--colors--background);
}

.section:where(.w-variant-8251da35-d56b-3ffb-d48d-7c7a41627606) {
  background-color: var(--_color---neutral--light-gray);
  color: var(--_color---neutral--black);
}

.section:where(.w-variant-24d38caf-5dc4-e032-8615-f1b8b9543543) {
  background-color: var(--_color---neutral--dark-gray);
  color: var(--_color---neutral--white);
}

.section.cc-footer {
  margin-top: auto;
  padding-top: 4rem;
  padding-bottom: 2rem;

  border-top: 1px solid var(--_color---neutral--dark-gray);

  background-color: var(--colors--background);

  color: var(--colors--text);
}

.section.cc-footer:where(.w-variant-03470b75-1c46-84c5-1d69-d2bb1e4cbe42) {
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-bf6faaa8-2bf5-9c53-b568-f9d802b7c009;
}

.section.cc-themed {
  background-color: var(--colors--background);
  color: var(--colors--text);
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: base;
}

.section.cc-themed:where(.w-variant-ffdae436-6d76-12b6-39d6-0e4201c47aad) {
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-bf6faaa8-2bf5-9c53-b568-f9d802b7c009;
}

.section.cc-themed:where(.w-variant-8251da35-d56b-3ffb-d48d-7c7a41627606) {
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-58b0a2b9-2dc1-9157-a0dd-7d9af1d425d6;
}

.section.cc-themed:where(.w-variant-24d38caf-5dc4-e032-8615-f1b8b9543543) {
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-f069190d-3662-920d-afc0-b53953d4bc44;
}

.section.home-hero {
  padding-top: 2rem;
  padding-bottom: 2rem;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.32)), url("https://cdn.prod.website-files.com/690c0077653da2f9071ad5ce/6913dd7a4e92826e2fa7c149_screengrab-01.jpg");
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;

  color: var(--_color---neutral--white);

  height: calc(100vh - 115px);
}

.container {
  display: block;
  width: 88%;
  max-width: var(--_components---container--max-width);
  margin-right: auto;
  margin-left: auto;
}

.container.cc-nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media screen and (max-width: 479px) {
  .container.cc-nav {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.u-text-center {
  text-align: center;
}

.u-h-100 {
  height: 100%;
}

.slot {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.slot.cc-section {
  position: static;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.slot.cc-column {
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.slot.cc-card {
  align-items: stretch;
  flex: 1;
}

.slot.cc-card-body {
  height: 100%;
}

.slot.cc-list {
  justify-content: flex-start;
  align-items: stretch;
  grid-column-gap: var(--_layout---spacing--margin-sm);
  grid-row-gap: var(--_layout---spacing--margin-sm);
}